*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
  }
  
  body {
    background: linear-gradient(to bottom, #000000, #dfdfdf, #000000); 
    height: 100vh;
    width: 100%;
  }
  
  .grid {
    background: transparent;
    display: grid;
    grid-template: repeat(3, 200px) / repeat(4, 200px);
    width: 800px;
    height: 600px;
    margin: 15vh auto ;
  }
  
  .card {
    background-color: transparent;
    perspective: 1000px;
    margin: 5px;
    
  }
  
  .frontCards {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backfront-visibility: hidden;
    -webkit-backfront-visibility: hidden;
  }
  
  .front {
    background: snow;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
  }
  .front img {
    width: 120px;
  }
  .back {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    border: 2px solid snow;
  }
  .active {
    transform: rotateY(180deg)
  }